.loading{
	width: 100%;
	height: 50vh;
	font-size: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.commodity{
	background-color: rgba(10, 10, 70, 1.0);
	position: relative;
}
.commodity .nav{
	background-color: gray;
	z-index: 10;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	}
.commodity .cart{
	color: white;
	font-size: 20px;
	display: flex;
	position: fixed;
	top: 20px;
	right: 50px;
}
.commodity .quantity{
	color: red;
	margin: 0;
	font-weight: bold;
}
.item{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 50px;
}
.item-grid{
	display: flex;
	flex-direction: column;
	
	align-items: center;
	width: 250px;
	height: 350px;
	border-style: solid;
	border-color: white;
	margin: 50px 5px 5px 5px;
	color: white;
	overflow: auto;
	position: relative;
}
img{
	width: 250px;
	
}
.title  {
	width: 90%;
	height: 15%;
	margin-top: 20px;
}
.description{
	width: 90%;
	height: 50%;
}
.price{
	width: 90%;
	height: 10%;
}
.commodity .item button{
	position: absolute;
	bottom: 5px;
	width: auto;
}
@media (max-width: 640px) {
	.item{
		padding-top: 30px;
	}
	.item-grid{
		width: 80%;
		height: 450px;
		margin-top: 60px;
	}
}