 .nav{
	background-color: gray;
	z-index: 10;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	}
.nav .search{
	font-size: 20px;
	font-weight: bold;
	position: relative;
}
.nav .search input{
	width: 30vw;
	max-width: 400px;
	min-width: 120px;
	height: 30px;
}
.nav .search .searchButton{
	height: 32px;
}
.nav .search .dropdown{
	position: absolute;
	background-color: rgba(240, 240, 240, 1.0);
	width: 30vw;
	max-width: 400px;
	min-width: 120px;
	top: 29px;
	display: block;
}
.nav .search .dropdown .dropdownName{
	cursor: pointer;
}
.nav .search .dropdown .dropdownName:hover{
	background-color: rgba(0, 200, 200, 1.0);
}
 .cart{
	color: white;
	font-size: 20px;
	display: flex;
	position: absolute;
	top: 20px;
	right: 50px;
}
 .quantity{
	color: red;
	margin: 0;
	font-weight: bold;
}
@media (max-width: 600px) {
	.nav{
		
	}
	.nav .search{
		font-size: 14px;
		transform: translateX(-20%);
	}
	.nav .search input{
		width: 50vw;
	}
	.nav .search .searchButton{
		height: 30px;
		width: 35px;
		
	}
	.nav .search .dropdown{
		width: 50vw;
	}
	 .cart{
	 	right: 15px;
	 	font-size: 18px;
	 }
	 .cart div{
	 	display: none;
	 }
}