button{
	
	width: 50px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 10%;
}
.cartpage{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.cartpage ul{
	width: 80%;
}
.cartpage li {
	display: flex;
	margin-top: 40px;
	width: 100%;
	justify-content: space-between;
}
.cartpage li .p_title{
	width: 30%;
}
.cartpage li .p_price{
	width: 15%;
}
.cartpage li .p_quantity{
	width: 10%;
	display: contents;
	
}
.cartpage li .btn_del{
	background-color: red;
}
.cartpage .tt_price{
	margin-top: 8vw;
}
@media (max-width: 600px) {
	.cartpage ul{
		width: 90%;
		padding: 0;
		font-size: 22px;
	}
	.cartpage li{
		font-size: ;
		flex-wrap: wrap;
		justify-content: center;
	}
	.cartpage li .p_title{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.cartpage li .p_price{
		width: 100%;
		display: flex;
		justify-content: center;
	}
	.cartpage li .p_quantity{
		width: 30%;
		display: flex;
		justify-content: center;
	
	}
	.cartpage li .btn_del{
		width: 100%;
		margin-top: 30px;
	}
	.cartpage .tt_price{
		margin-top: 8vw;
		margin-bottom: 50px;
	}
}